version: '3'

services:

  nginx:
    image: nginx
    ports:
      - "8080:8080"
    volumes:
      - ./docker/nginx-default.conf:/etc/nginx/conf.d/default.conf
      - ./catalog:/app
      - ./common:/app/common-dev
    depends_on:
      - vufind
      - imgsrv
      - apache-cgi

  imgsrv:
    build: ./docker/babel-base
    user: ${CURRENT_USER}
    image: hathitrust-babel-base
    volumes:
      - ./imgsrv:/htapps/babel/imgsrv
      - ./logs:/htapps/babel/logs
      - ./cache:/htapps/babel/cache
      - "./sample-data/sdr1:/sdr1"
      - "./sample-data/etc:/htapps/babel/etc"
      - "./sample-data/watermarks:/htapps/babel/watermarks"
      - "./sample-data:/tmp/sample-data"
    environment:
      - SDRROOT=/htapps/babel
      - SDRDATAROOT=/sdr1
      - HT_DEV=docker
      - REMOTE_ADDR=127.0.0.1
      - HTTP_HOST=127.0.0.1
      - APACHE_LOG_DIR=/tmp
    depends_on:
      - mysql-sdr
      - solr-sdr-catalog
    ports:
      - "31028:31028"
    command: bash -c "/htapps/babel/imgsrv/bin/startup_imgsrv"

  apache-cgi:
    build: ./docker/apache-cgi
    user: ${CURRENT_USER}
    volumes:
      - "./docker/apache-cgi/000-default.conf:/etc/apache2/sites-enabled/000-default.conf"
      - ./imgsrv:/htapps/babel/imgsrv
      - ./logs:/htapps/babel/logs
      - ./cache:/htapps/babel/cache
      - ./pt:/htapps/babel/pt
      - ./ssd:/htapps/babel/ssd
      - ./ping:/htapps/babel/ping
      - ./mb:/htapps/babel/mb
      - ./ls:/htapps/babel/ls
      - ./ls/lib/Config/docker-local.conf:/htapps/babel/ls/lib/Config/local.conf
      - ./common:/htapps/babel/common
      - ./mdp-lib:/htapps/babel/mdp-lib
      - ./slip-lib:/htapps/babel/slip-lib
      - ./plack-lib:/htapps/babel/plack-lib
      - "./sample-data/sdr1:/sdr1"
      - "./sample-data/etc:/htapps/babel/etc"
      - "./sample-data/watermarks:/htapps/babel/watermarks"
      - "./sample-data:/tmp/sample-data"
    environment:
      - SDRROOT=/htapps/babel
      - SDRDATAROOT=/sdr1
    depends_on:
      - mysql-sdr
      - solr-sdr-catalog
      - solr-ptsearch
    ports:
      - "41028:41028"

  vufind:
    build: ./catalog
    hostname: 'catalog-dev'
    volumes:
      - ./catalog:/app
    depends_on:
      - mysql-sdr
      - solr-sdr-catalog

#### DATA STORES

  solr-sdr-catalog:
    image: ghcr.io/hathitrust/catalog-solr-sample
    ports:
      - "9033:9033"

  solr-lss-dev:
    image: solr:6
    ports:
      - "8983:8983"
    user: ${CURRENT_USER}
    volumes:
      - ./lss_solr_configs/lss-dev/core-x:/opt/solr/server/solr/core-x
      - ./lss_solr_configs/lss-dev/core-y:/opt/solr/server/solr/core-y
      - ./lss_solr_configs:/opt/lss_solr_configs
      - ./lss_solr_configs/lib:/opt/solr/server/solr/lib
      - ./logs/solr:/opt/solr/server/logs

  solr-ptsearch:
    build: ./ptsearch-solr
    ports:
      - "8984:8983"

  mysql-sdr:
    image: ghcr.io/hathitrust/db-image:latest
    volumes:
      - ./slip/etc/sql/100_slip.sql:/docker-entrypoint-initdb.d/100_slip.sql
      - ./catalog/docker/vufind.sql:/docker-entrypoint-initdb.d/101_vufind.sql
      - ./mb/etc/sql/999_mb.sql:/docker-entrypoint-initdb.d/999_mb.sql
    ports:
      - "3307:3306"

    environment:
      # - mysql-sdr_RANDOM_ROOT_PASSWORD=1
      MYSQL_ROOT_PASSWORD: TIMTOWTDIBSCINABTE

#### INDEXING

  # We add the 'indexing' profile to keep these from starting automatically
  # when we do 'docker-compose up'

  slip:
    build: ./slip
    image: hathitrust-slip
    user: ${CURRENT_USER}
    volumes:
      - ./slip:/htapps/babel/slip
      - ./logs:/htapps/babel/logs
      # this is where docs-j saves output
      - ./slip/sample:/htapps/babel/logs/tmp
      - "./sample-data/sdr1:/sdr1"
      - "./sample-data/etc:/htapps/babel/etc"
      - "./sample-data:/tmp/sample-data"
    environment:
      - SDRROOT=/htapps/babel
      - SDRDATAROOT=/sdr1
      - HT_DEV=docker
    depends_on:
      - mysql-sdr
      - solr-sdr-catalog
    command: bash
    profiles:
      - indexing

  traject:
    build: ./hathitrust_catalog_indexer
    environment:
      - SOLR_URL=http://solr-sdr-catalog:9033/solr/catalog
      - redirect_file=/dev/null
      - NO_DB=1
      - DDIR=/app/metadata
    depends_on:
      - solr-sdr-catalog
    volumes:
      - "./sample-data/metadata:/app/metadata"
      - "./hathitrust_catalog_indexer:/app"
      - gem_cache:/gems
    profiles:
      - indexing

  # todo: ingest, bound to sample-data

volumes:
  gem_cache:
