version: '3'

services:

  nginx:
    image: nginx
    ports:
      - "8080:8080"
    volumes:
      - ${BABEL_HOME}/nginx/nginx-default.conf:/etc/nginx/conf.d/default.conf
      - ${BABEL_HOME}/catalog:/app
      - ${BABEL_HOME}/common:/app/common-dev
    depends_on:
      - vufind
      - imgsrv
      - apache-cgi

  imgsrv:
    build:
      context: .
      target: imgsrv-fcgi
    user: ${CURRENT_USER}
      #    image: hathitrust-babel-base
    volumes:
      - ${BABEL_HOME}/imgsrv:/htapps/babel/imgsrv
      - ${BABEL_HOME}/mdp-lib:/htapps/babel/mdp-lib
      - ${BABEL_HOME}/slip-lib:/htapps/babel/slip-lib
      - ${BABEL_HOME}/plack-lib:/htapps/babel/plack-lib
      - ${BABEL_HOME}/mdp-web:/htapps/babel/mdp-web
      - ${BABEL_HOME}/logs:/htapps/babel/logs
      - ${BABEL_HOME}/cache:/htapps/babel/cache
      - ${BABEL_HOME}/sample-data/sdr1:/sdr1
      - ${BABEL_HOME}/sample-data/etc:/htapps/babel/etc
      - ${BABEL_HOME}/sample-data/watermarks:/htapps/babel/watermarks
      - ${BABEL_HOME}/sample-data:/tmp/sample-data
    environment:
      - SDRROOT=/htapps/babel
      - SDRDATAROOT=/sdr1
      - HT_DEV=docker
      - REMOTE_ADDR=127.0.0.1
      - HTTP_HOST=127.0.0.1
      - APACHE_LOG_DIR=/tmp
    depends_on:
      - mysql-sdr
      - solr-sdr-catalog
    ports:
      - "31028:31028"
    command: bash -c "/htapps/babel/imgsrv/bin/startup_imgsrv"

  apache-cgi:
    build:
      context: .
      target: apache-cgi
    user: ${CURRENT_USER}
    volumes:
      - ${BABEL_HOME}/apache-cgi/000-default.conf:/etc/apache2/sites-enabled/000-default.conf
      - ${BABEL_HOME}/apache-cgi/auth:/etc/apache2/auth
      - ${BABEL_HOME}/imgsrv:/htapps/babel/imgsrv
      - ${BABEL_HOME}/logs:/htapps/babel/logs
      - ${BABEL_HOME}/cache:/htapps/babel/cache
      - ${BABEL_HOME}/pt:/htapps/babel/pt
      - ${BABEL_HOME}/ssd:/htapps/babel/ssd
      - ${BABEL_HOME}/ping:/htapps/babel/ping
      - ${BABEL_HOME}/mb:/htapps/babel/mb
      - ${BABEL_HOME}/mb/lib/Config/docker-local.conf:/htapps/babel/mb/lib/Config/local.conf
      - ${BABEL_HOME}/ls:/htapps/babel/ls
      - ${BABEL_HOME}/ls/lib/Config/docker-local.conf:/htapps/babel/ls/lib/Config/local.conf
      - ${BABEL_HOME}/common:/htapps/babel/common
      - ${BABEL_HOME}/mdp-lib:/htapps/babel/mdp-lib
      - ${BABEL_HOME}/slip-lib:/htapps/babel/slip-lib
      - ${BABEL_HOME}/plack-lib:/htapps/babel/plack-lib
      - ${BABEL_HOME}/mdp-web:/htapps/babel/mdp-web
      - ${BABEL_HOME}/sample-data/sdr1:/sdr1
      - ${BABEL_HOME}/sample-data/etc:/htapps/babel/etc
      - ${BABEL_HOME}/sample-data/watermarks:/htapps/babel/watermarks
      - ${BABEL_HOME}/sample-data:/tmp/sample-data
    environment:
      - SDRROOT=/htapps/babel
      - SDRDATAROOT=/sdr1
    depends_on:
      - mysql-sdr
      - solr-sdr-catalog
      - solr-ptsearch
    ports:
      - "41028:41028"

  vufind:
    build: ./catalog
    hostname: 'catalog-dev'
    volumes:
      - ${BABEL_HOME}/catalog:/app
    depends_on:
      - mysql-sdr
      - solr-sdr-catalog

#### DATA STORES

  solr-sdr-catalog:
    image: ghcr.io/hathitrust/catalog-solr-sample
    ports:
      - "9033:9033"
    volumes:
      - solr_sdr_catalog:/var/solr

  solr-lss-dev:
    image: solr:6.6.6-alpine
    ports:
      - "8983:8983"
    user: ${CURRENT_USER}
    volumes:
      - ${BABEL_HOME}/lss_solr_configs/lss-dev/core-x:/opt/solr/server/solr/core-x
      - ${BABEL_HOME}/lss_solr_configs/lss-dev/core-y:/opt/solr/server/solr/core-y
      - ${BABEL_HOME}/lss_solr_configs:/opt/lss_solr_configs
      - ${BABEL_HOME}/lss_solr_configs/lib:/opt/solr/server/solr/lib
      - ${BABEL_HOME}/logs/solr:/opt/solr/server/logs

  solr-ptsearch:
    build: ./ptsearch-solr
    ports:
      - "8984:8983"

  mysql-sdr:
    image: ghcr.io/hathitrust/db-image:latest
    volumes:
      - ${BABEL_HOME}/slip/etc/sql/100_slip.sql:/docker-entrypoint-initdb.d/100_slip.sql
      - ${BABEL_HOME}/catalog/docker/vufind.sql:/docker-entrypoint-initdb.d/101_vufind.sql
      - ${BABEL_HOME}/apache-cgi/auth/auth.sql:/docker-entrypoint-initdb.d/102_auth.sql
      - ${BABEL_HOME}/mb/etc/sql/999_mb.sql:/docker-entrypoint-initdb.d/999_mb.sql
      - mysql_sdr_data:/var/lib/mysql
    ports:
      - "3307:3306"

    environment:
      # - mysql-sdr_RANDOM_ROOT_PASSWORD=1
      MYSQL_ROOT_PASSWORD: TIMTOWTDIBSCINABTE

#### INDEXING

  # We add the 'indexing' profile to keep these from starting automatically
  # when we do 'docker-compose up'

  slip:
    build: ./slip
    image: hathitrust-slip
    user: ${CURRENT_USER}
    volumes:
      - ${BABEL_HOME}/slip:/htapps/babel/slip
      - ${BABEL_HOME}/logs:/htapps/babel/logs
      # this is where docs-j saves output
      - ${BABEL_HOME}/slip/sample:/htapps/babel/logs/tmp
      - ${BABEL_HOME}/sample-data/sdr1:/sdr1
      - ${BABEL_HOME}/sample-data/etc:/htapps/babel/etc
      - ${BABEL_HOME}/sample-data:/tmp/sample-data
    environment:
      - SDRROOT=/htapps/babel
      - SDRDATAROOT=/sdr1
      - HT_DEV=docker
    depends_on:
      - mysql-sdr
      - solr-sdr-catalog
      - solr-lss-dev
    command: bash
    profiles:
      - indexing

  traject:
    build: ./hathitrust_catalog_indexer
    environment:
      - SOLR_URL=http://solr-sdr-catalog:9033/solr/catalog
      - redirect_file=/dev/null
      - NO_DB=1
      - DDIR=/app/metadata
    depends_on:
      - solr-sdr-catalog
    volumes:
      - ${BABEL_HOME}/sample-data/metadata:/app/metadata
      - ${BABEL_HOME}/hathitrust_catalog_indexer:/app
      - gem_cache:/gems
    profiles:
      - indexing

  stage-item:
    build: ./stage-item
    # no explicit depends-on - the stage item script will start catalog, traject, etc as needed
    volumes:
      - ${BABEL_HOME}:/usr/src/babel
      - gem_cache:/gems
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - mysql-sdr
    environment:
      - CATALOG_SOLR=http://solr-sdr-catalog:9033/solr/catalog
      - LSS_SOLR=http://solr-lss-dev:9033/solr/core-x
      - MYSQL_URL=mysql2://mdp-admin:mdp-admin@mysql-sdr:3306/ht
    profiles:
      - stage_item

  # todo: ingest, bound to sample-data

volumes:
  gem_cache:
  mysql_sdr_data:
  solr_sdr_catalog:
